body {
    font-family: sans-serif;
    background-color: #2fc88b;
}

* {
    box-sizing: border-box;
}
h1 {
    color: #eee;
    margin-bottom: 30px;
}
.container {
    padding: 40px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

#album_content {
       padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
  
}

.album {
    margin-top: -20px;
}

.single_album {
    list-style-type: none;
    background-color: #eaeaea;
    border-radius: 3px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        'name image'
        'country image';
    text-align: left;
}

.single_album > h2 {
    grid-area: name;
    margin-bottom: 0px;
}

.single_album > p {
    grid-area: house;
    margin: 0;
    margin-top: -18px;
}

.single_album > img {
    max-height: 100px;
    grid-area: image;
}

#search_input {
    
    width: 30%;
    height: 32px;
    border-radius: 10px;
    border: 1px solid #cccbcb;
    padding: 5px 10px;
    font-size: 12px;
}

#album_search {
    position: fixed;
top: 0;
width: 100%;
 overflow: hidden;
 text-align: center;
 background-color: #2fc88b;
height: 70px;
}

#search_btn {
    height: 32px;
    border: none;
    background-color: transparent;
}

#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  visibility: hidden;
  margin:auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}      